@model PatientDoctorApp.Areas.Identity.Data.PatientDoctorAppUser
@{
    ViewData["Title"] = "Doctor's Profile";
}
<!-- Add icon library -->
<link rel="stylesheet" href="">
<style>

    
    a {
        
    }
    
    button:hover, a:hover {
        opacity: 0.7;
    }
</style>
<div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                                 max-width: 500px;
                                 margin: auto;
                                 text-align: center;">
  <img src="https://via.placeholder.com/100" alt="Doctor">
  <h2><b>Name:   </b>Dr. @Model.FirstName @Model.LastName</h2>
  <h4><b>Gender: </b> @Model.Gender</h4>
  <h4><b>Email:  </b> @Model.Email</h4>
  <h4><b>DOB:    </b> @Model.DateOfBirth</h4>
  <h4><b>Id:     </b> @Model.Id</h4>

</div>

