@model Appointment
@{
    ViewData["Title"] = "Doctors Schedule";
}

<div class="text-center" style="{}">
    <h1 class="display-4">Welcome to Doctors Schedule</h1>
    <ul class="nav nav-tabs col-6 offset-3" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="Today-tab" data-bs-toggle="tab" data-bs-target="#Today" type="button" role="tab" aria-controls="Today" aria-selected="true">Today</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="Tomorrow-tab" data-bs-toggle="tab" data-bs-target="#Tomorrow" type="button" role="tab" aria-controls="Tomorrow" aria-selected="false">Tomorrow</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="calendar-tab" data-bs-toggle="tab" data-bs-target="#calendar" type="button" role="tab" aria-controls="calendar" aria-selected="false">Calendar</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests" type="button" role="tab" aria-controls="requests" aria-selected="false">requests</button>
      </li>
    </ul>
    <div class="tab-content col-6 offset-3" id="myTabContent">
        <div class="tab-pane fade show active overflow-auto" id="Today" role="tabpanel" aria-labelledby="Today-tab">
                @for(int i = 0; i < ViewBag.listOfConfirmedAppointments.Count; i++)
                {
                    if (ViewBag.listOfConfirmedAppointments[i].Date.Date == DateTime.Today.Date)
                    {
                        <div class="accordion-item" style="{
                            width: 60%;
                        }" >
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@ViewBag.listOfConfirmedAppointments[i].Id" aria-expanded="true"
                                        aria-controls="collapse-@ViewBag.listOfConfirmedAppointments[i].Id"
                                >
                                
                                    @ViewBag.listOfConfirmedAppointmentsNames[i]
                                </button>
                            </h2>
                            <div id="collapse-@ViewBag.listOfConfirmedAppointments[i].Id" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionTestReports">
                                <div class="accordion-body">
                                    <p>
                                        <b>Type: </b> @ViewBag.listOfConfirmedAppointments[i].AppointmentType <br />
                                        <b>Reason: </b> @ViewBag.listOfConfirmedAppointments[i].Reason <br />
                                        <b>Details(Optional): </b> @ViewBag.listOfConfirmedAppointments[i].Details <br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
        </div>
    <div class="tab-pane fade overflow-auto" id="Tomorrow" role="tabpanel" aria-labelledby="Tomorrow-tab">
        <div class="accordion col-6 offset-3" id="accordionExample">
            @for(int i = 0; i < ViewBag.listOfConfirmedAppointments.Count; i++){
               if (ViewBag.listOfConfirmedAppointments[i].Date.Date == DateTime.Today.AddDays(1).Date){
                  <div class="accordion-item" style="{
                     width: 60%;
                  }" >
                      <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@ViewBag.listOfConfirmedAppointments[i].Id" aria-expanded="true"
                                  aria-controls="collapse-@ViewBag.listOfConfirmedAppointments[i].Id">
                              @ViewBag.listOfConfirmedAppointmentsNames[i]
                          </button>
                      </h2>
                      <div id="collapse-@ViewBag.listOfConfirmedAppointments[i].Id" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionTestReports">
                          <div class="accordion-body">
                              <p>
                                  <b>Type: </b> @ViewBag.listOfConfirmedAppointments[i].AppointmentType <br/>
                                  <b>Reason: </b> @ViewBag.listOfConfirmedAppointments[i].Reason <br/>
                                  <b>Details(Optional): </b> @ViewBag.listOfConfirmedAppointments[i].Details <br/>
                              </p>
                          </div>
                      </div>
                      </div>
               }
            }
        </div>
    </div>
    <div class="tab-pane fade overflow-auto" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
        <div id="calendar-container" class="col-6 offset-3">
            <label for="startDate">Select Date</label>
            <input id="startDate" class="form-control" type="date" />
            <span id="startDateSelected"></span>
        </div>
    </div>
        <div class="tab-pane fade overflow-auto" id="requests" role="tabpanel" aria-labelledby="requests-tab">
            @foreach (Appointment pendingAppointment in ViewBag.listOfPendingAppointments)
            {
                <form asp-controller="Doctor" asp-action="Schedule" method="post">
                    <a class="btn">@pendingAppointment.Date.Date.ToShortDateString()  @pendingAppointment.TimeSlot - @pendingAppointment.Id
                        <span class="btn badge bg-warning">
                            <input type="hidden" value=@pendingAppointment.Id asp-for="Id"/>
                            <input type="hidden" value=@pendingAppointment.Date asp-for="Date"/>
                            <input type="hidden" value=@pendingAppointment.TimeSlot asp-for="TimeSlot"/>
                            <input type="hidden" value=@pendingAppointment.PatientId asp-for="PatientId"/>
                            <input type="hidden" value=@pendingAppointment.DoctorId asp-for="DoctorId"/>
                            <input type="hidden" value=@pendingAppointment.Status asp-for="Status"/>
                            <input type="hidden" value=@pendingAppointment.Reason asp-for="Reason"/>
                            <input type="hidden" value=@pendingAppointment.MSPNumber asp-for="MSPNumber"/>
                            <input type="hidden" value=@pendingAppointment.AppointmentType asp-for="AppointmentType"/>
                            <input type="hidden" value=@pendingAppointment.Phone asp-for="Phone"/>
                            <input type="hidden" value=@pendingAppointment.Email asp-for="Email"/>
                            <input type="hidden" value=@pendingAppointment.Details asp-for="Details"/>
                            <button type="submit">Pending</button>
                            
                        </span>
                    </a>
                </form>
                
                
                
                <br/>
            }
            @*<button onclick="aprovePending()" class="btn">11-02-2022 9:30pm Spider man <span class="btn badge bg-warning">Pending</span></button>
            <a class="btn">11-02-2022 9:30pm Spider man <span class="btn badge bg-success">Approved</span></a>
            <a class="btn">11-02-2022 9:30pm Spider man <span class="btn badge bg-danger">Canceled</span></a>*@
        </div>
    </div>
</div>

<script>
  function aprovePending() {
    alert("Approve appointment?");
}
</script>

<style>
   body {
       background: lightgrey;
   }
   .nav-tabs {
       background: white;
       border-radius: 5px 5px 0px 0px;
       box-shadow: 3px 3px #888888;
       justify-content: space-evenly;
   }
   .tab-content {
       background: white;
       border-radius: 0px 0px 5px 5px;
       box-shadow: 3px 3px #888888;
   }
   .accordion {
       margin-top: 10px;
       margin-bottom: 10px;
   }
   .accordion-item {
       margin-bottom: 10px;
   }
   #calendar-container {
       margin-bottom: 10px;
   }

</style>
