@using PatientDoctorApp.Areas.Identity.Data
@{
    ViewData["Title"] = "Patient Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Patient Home</h1>
    <div class="container-fluid row">
      <div id="control-container" class="offset-3">
       <div id="profile-container">
           <h4>Profile</h4>
           <div id="profile-image-container">
             <img id="profile-picture" src="https://cdn.discordapp.com/attachments/533825420391350272/1000245210959323156/unknown.png">
           </div>
           <p>
               <span id="name">@ViewBag.Me.FirstName @ViewBag.Me.LastName</span><br/>
               <span>@ViewBag.Me.DateOfBirth.ToShortDateString()</span><br/>
               <span>@ViewBag.Me.Gender</span><br/>
               <span>@ViewBag.Me.Role</span><br/>
           </p>
       </div>
       <div id="appointment-container" class="container">
        <h4>Appointments</h4>
        <div style="display: flex; justify-content: space-around;">
        <div class="col-md-auto m">
         <a asp-area="" asp-controller="Patient" asp-action="RequestAppointment" class="btn btn-primary">Request</a>
        </div>
        <div class="col-md-auto">
         <a asp-area="" asp-controller="Patient" asp-action="ViewAppointments" class="btn btn-primary">Archive</a>
        </div>
@*        <div class="col-md-auto">
         <a asp-area="" asp-controller="Patient" asp-action="PatientProfile">My Profile</a>
        </div>*@
       </div>
       </div>
       <div id="document-container">
           <h4>Documents</h4>
           <button class="btn btn-primary">View</button>
       </div>
      </div>
      @if (@ViewBag.NextAppointment != null)
      {
        <div class="container col-6">
        <div class="card">
        <img src="https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Upcomming Appointment</h5>
        <p class="card-text">Status: @ViewBag.NextAppointment.Status</p>
        <p class="card-text">type: @ViewBag.NextAppointment.AppointmentType</p>
        <p class="card-text">Date: @ViewBag.NextAppointment.Date.ToShortDateString()</p>
        <p class="card-text">Time: @ViewBag.NextAppointment.TimeSlot</p>
        @foreach (PatientDoctorAppUser u in ViewBag.Doctors)
        {
            if (u.Id == @ViewBag.NextAppointment.DoctorId)
            {
                <p class="card-text">Doctor: Dr.@u.LastName</p>
            }
        }
        <p class="card-text">Details: @ViewBag.Details</p>
        @*<a href="#" class="btn btn-danger">Cancel</a>*@
        </div>
        </div>
        </div>
      }
    </div>
</div>

<style>
    body {
        Background: lightgrey;
    }
    footer {
        background: white;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .card {
        width: 50%;
        box-shadow: 3px 3px #888888;
    }
    #control-container {
        width: 25%;
        height: 25%;
        object-fit: contain;
    }
    #profile-container {
        border-radius: 5px;
        background: white;
        box-shadow: 3px 3px #888888;
        object-fit: contain;

    }
    #profile-picture {
        border-radius: 100px;
        width: 100px;
        height: 100px;
    }
    #appointment-container {
        border-radius: 5px;
        background: white;
        box-shadow: 3px 3px #888888;
        padding-bottom: 10px;
        margin-bottom: 20px;
        object-fit: contain;
    }
    #document-container {
        border-radius: 5px;
        background: white;
        box-shadow: 3px 3px #888888;
        margin-bottom: 20px;
        padding-bottom: 10px;
        object-fit: contain;
    }

</style>
